body{
    font-family: 'Shizuru', cursive;
}

.container{
    padding:10px;
    border: 1px solid #BCB9B8;
    width: 40%;
    margin: auto;
}

.container .input{
    width: 87%;
    height: 20px;
}

.container .btn{
    width: 50px;
    height: 25px;
}

.container ul{
    list-style: none;
    padding: 0px;
}

.container li{
    color: red;
}

.container li a{
    float: right;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.container #error{
    color: red;
    font-size: 14px;
}